.pop-up {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    height: 70%;
    width: 80%;
}

.close {
    background-color: cadetblue;
    text-align-last: left;
}

.link-sigmup {
    background-color: cadetblue;
    width: 80%;
}