.pop-up {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    height: 70%;
    width: 80%;
}

.close-box {
    position: fixed;
   
    background-color: cadetblue;
    text-align-last: center;
    margin-left: 70%;
    margin-top: 10px;
}

.btn-close {
    width: 30px;

}

.btn-close:hover {
    width: 30px;
}



.link-sigmup {
    position: fixed;
    background-color: cadetblue;
    width: 80%;
    margin-bottom: 200px;
}