img {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-self: flex-start
}



.user {
    color: blue;
    margin-left:5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 22px;
    display: flex;
    text-align-last: right;
    align-self: flex-start;
    color: blanchedalmond;
}

.content {
    margin-left: 5%;

}

.post {
    border-style: dotted;
    margin-bottom: 35px;
    width: 70%;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: blue;
    color: beige;
}

.post:hover {
    background-color: red;
}

.date {
    text-align-last: left;
}